.container {
  text-align: center;
}

.custom-btn {
  color: #212529 !important;
  background-color: #f9fafb !important;
  border: 2px solid black !important;
  border-color: #212529 !important;
  border-radius: 18px !important;
  width: 130px !important;
}
