<app-nav></app-nav>
<div class="table-responsive">
    <table *ngIf="users && users.length" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    Display some error: {{ errorMessage }}
</div>